<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DB Knights</title>
</head>
<body>

    <!--Scripts and Styles-->
    <script src="../Assets/Scripts/jquery-2.1.3.min.js"></script>
    <script src="../Assets/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../Assets/Styles/home_styles.css">
    <!--Scripts and Styles-->

    <!--Header-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="homepage.html" class="navbar-brand">Database Knights</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="login_page.html">Login</a>
                    </li>
                    <li>
                        <a href="createAccount_page.php">Create Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Header-->

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="text-center">Sign in</h3>
                </div>
            </div>
            <form action="../Controllers/loginAuth.php" method="post">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="control-label">Pasword</label>
                        <input type="password" name="pass" id="pass" placeholder="Password" autofocus class="form-control" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-block btn-custom-gold">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Footer-->
    <footer>
        <div class="container text-center">
            <p class="text-center">COT 4710 • University of Central Florida • Dr. Kien Hua</p>
        </div>
    </footer>
    <!--Footer-->

</body>
</html>